body {
  background-color: #2b3e50;
  color: #ebebeb;
  font-family: "Lato", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
}
.side-nav {
  background-color: #4e5d6c;
  font-size: 12px;
  border: none;
  border-radius: 0px;
}
.side-nav-item {
  color: #ebebeb !important;
  background-color: #4e5d6c;
  border: none;
}
.active > a , .active > a:hover, .active> a:focus {
  color: #ebebeb !important;
  background-color: #c85e17 !important;
}
.app-container {
  margin-top: 60px;
}
